/* Variables de colores */
:root {
    /* Tema Diurno */
    --background-day: #E6F4EA;
    --text-day: #2C5F2D;
    --introduction-bg-day: #A3C9A8;
    --cv-bg-day: #D9CAB3;
    --cv-text-day: #4A3F35;
    --projects-bg-day: #B7D3C6;
    --contact-bg-day: #E6F4EA;
    --footer-bg-day: #4A3F35;
    --footer-text-day: #D9CAB3;
    --button-bg-day: #4A3F35;
    --button-text-day: #D9CAB3;
    --button-hover-bg-day: #2C5F2D;
    --button-hover-text-day: #E6F4EA;
    --blog-link-color-day: #2C5F2D; /* Verde bosque */
    --blog-link-hover-color-day: #4CAF50; /* Verde brillante */

    /* Tema Nocturno */
    --background-night: #1B1F23;
    --text-night: #A8C3A3;
    --introduction-bg-night: #2C3E3F;
    --cv-bg-night: #3E4E50;
    --projects-bg-night: #2C3E3F;
    --contact-bg-night: #1B1F23;
    --footer-bg-night: #2C3E3F;
    --footer-text-night: #A8C3A3;
    --button-bg-night: #4A3F35;
    --button-text-night: #ff9800;
    --button-hover-bg-night: #A8C3A3;
    --button-hover-text-night: #1B1F23;
    --blog-link-color-night: #A8C3A3; /* Verde grisáceo */
    --blog-link-hover-color-night: #FF9800; /* Naranja */
}

/* Tema Diurno: Bosque durante el día */
body {
    margin: 0; /* Remove default margin to eliminate the white bar */
    font-family: 'Roboto', sans-serif; /* Nueva fuente principal */
    background-color: var(--background-day); /* Verde claro, sensación de frescura */
    color: var(--text-day); /* Verde bosque para el texto */
}

footer {
    background-color: var(--footer-bg-day); /* Marrón oscuro */
    color: var(--footer-text-day); /* Marrón claro */
    text-align: center;
    padding: 20px 10px;
    font-size: 14px;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

footer ul li a {
    color: #4caf50; /* Green links */
    text-decoration: none;
    transition: color 0.3s;
}

footer ul li a:hover {
    color: #ff9800; /* Orange on hover */
}